/*----------- common -------------*/

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

#content {
  position: relative;
  max-height: 100%;
}

.page {
  white-space: nowrap;
}

/*----------- panel --------------*/

.panel {
  height: 40px;
  background: #ddd;

  .menu {
    float: right;
    margin-top: 10px;
  }
}

/*------------ menu ------------*/

.menu {
  display: inline-block;
  position: relative;
  padding: 0 20px;
  cursor: pointer;
  vertical-align: middle;

  .menu__body {
    position: absolute;
    right: 10px;
    padding: 10px;
    background-color: white;
    border: 1px solid gray;
    text-align: left;
    z-index: 1;
  }
}

/*------------ content ---------------*/

.page__content {
  height: calc(100% - 40px);
}

.page__head {
  padding: 0 30px;
}

.page__body {
  padding: 10px 30px;
}

/*------------ note -----------------*/

.note {
  display: inline-block;
  width: 300px;
  height: 100px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

/*-------------- tasks ---------------*/

.calendar {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: 70%;
  min-width: 800px;

  table {
    width: 100%;
    border-collapse: collapse;

    tr {
      width: 100%;

      td {
        vertical-align: top;
        min-width: 110px;
        width: auto;

        padding: 10px;
        border: 1px solid #ddd;

        position: relative;
      }
    }
  }

  .calendar__monthName {
    position: absolute;
    top: -20px;
    left: 10px;
    font-size: 30px;
    background: rgba(0, 0, 0, 0.1);
    padding: 4px;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 10px #E9E8E6;
    transition: 0.3s opacity;
  }

  .calendar__body {
    height: calc(100% - 50px);
    overflow-y: scroll;

    td {
      height: 100px;
    }
  }
}

.page_tasks__tasksListWrap {
  display: inline-block;
  vertical-align: top;
  width: 30%;
}

.taskAdder {
  padding: 20px;

  input {
    display: block;
    padding: 8px;
    width: 100%;
    font-size: 14px;
  }
}

.listTasks {
  padding: 0 20px 20px;
}

.task {
  padding: 10px;
  margin-bottom: 4px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background: #ddd;
  }
}

/*---------- task adder ----------------*/

.taskAdder__input {
  width: 100% !important;
}

/*------------ PopupTask -----------------*/
