/*----------- common -------------*/

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}


.page {
  white-space: nowrap;
}

/*----------- panel --------------*/

.panel {
  height: 40px;
  background: #ddd;
}


/*------------ content ---------------*/

.content {
  padding: 20px;
}

.page__head {
  padding: 0 30px;
}

.page__body {
  padding: 10px 30px;
}

/*------------ note -----------------*/

.note {
  display: inline-block;
  width: 300px;
  height: 100px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

/*-------------- tasks ---------------*/

.calendar {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: 70%;
  min-width: 800px;

  table {
    width: 100%;
    border-collapse: collapse;

    tr {
      width: 100%;

      td {
        vertical-align: top;
        min-width: 110px;
        width: auto;

        padding: 10px;
        border: 1px solid #ddd;
      }
    }
  }

  .calendar__body {
    height: calc(100% - 50px);
    overflow-y: scroll;

    td {
      height: 100px;
    }
  }
}

.page_tasks__tasksListWrap {
  display: inline-block;
  vertical-align: top;
  width: 30%;
}

.taskAdder {
  padding: 20px;

  input {
    display: block;
    padding: 8px;
    width: 100%;
    font-size: 14px;
  }
}

.listTasks {
  padding: 0 20px 20px;
}

.task {
  padding: 10px;
  margin-bottom: 4px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background: #ddd;
  }
}